@page
@model companyModel
@{
    ViewData["Title"] = "Página Test 1";
}

<head>

    <style type="text/css">

        h1{
            margin-top:3%;
            margin-bottom:3%;
        }
        
        div{
            margin:2px;
        }

        th{
            padding:6px 15px 6px 15px;
            border: 3px solid lightgray;
        }

        td{
            padding:3px 5px 3px 5px;
            border: 3px solid lightgray;

        }
    </style>

</head>

<body>

    <div class="head">
        <h1>
            @ViewData["Title"]           
        </h1>        
    </div>
        <br/>
    <div class="main">
        
        <!-- <div id=divPost>
            <form method="post">
                Nombre: 
                    <input type="text" asp-for="nombre"><br/>
                Apellido:
                    <input type="text" asp-for="apellido"><br/>
                <input type="submit" id="btnPost" title="Submit"><br/>
            </form>
        </div> -->

        <div>

        <select id="ddltipo" runat="server">
            <option value="tipo1">Tipo1</option>
            <option value="tipo2">Tipo2</option>
            <option value="tipo3">Tipo3</option>
        </select>
        <table>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Empleados
                </th>
                <th>
                    Contactos
                </th>
                <th>
                    Oportunidades
                </th>
            </tr>
         @foreach (var compania in Model.compania)
         {
             
             if(compania.type.Equals(ddltipo.Value))
             {
             <tr>
                 <td>
                     @compania.name
                 </td>
                 <td>
                     <a href=@compania.address>
                         @compania.address
                     </a>
                 </td>
                 <td>
                     @compania.description
                 </td>
                 <td>
                     @compania.type
                 </td>
                 <td>
                     @compania.employees
                 </td>
                 <td>
                     @compania.contacts
                 </td>
                 <td>
                     @compania.oportunities
                 </td>
             </tr>
             }
         }
         </table>
        </div>

    </div>
    

    <script>

    </script>
</body>